*.sw[a-p]
*.o
*~
*.chr
*.chrgb
*.chrgb16
*.chr1
*.pb16
*.pb53
*.sb53
*.iu53
/nes/obj/nes/*.s
/nes/obj/nes/*.sav
/nes/new-linearity/obj/nes/*.sav
/gameboy/obj/gb/*.z80
/gameboy/obj/gb/*.nam
/gameboy/obj/gb/*.iu
/gameboy/obj/gb/*.huf
/gba/build
/240p-test-mini-*.zip
/zip.in
/nes/zip.in
/gameboy/zip.in
/gba/zip.in
/nes/*.nes.deb
/nes/*.dbg
/nes/map.txt
/nes/bnmap.txt
/nes/new-linearity/map.txt
/gameboy/gb240p.gb
/gameboy/gb240p.map
/gameboy/gb240p.sym
# mgba-qt makes .sav files even for games with no battery
/gameboy/gb240p.sav
/nes/240pee-bnrom.nes
/nes/240pee.nes
/nes/new-linearity/new-linearity.nes
/gba/240pee_mb.elf
/gba/240pee_mb.gba
/gba/240pee_mb.sav
/gba/.map
__pycache__/
*.pyc
/common/tools/dte
/common/tools/dte.exe

# this is NES and Game Boy homebrew, not DSiWare
*.DS_Store
