*.sw[a-p]
*.o
*~
*.chr
*.chrgb
*.pb16
/obj/nes/*.s
/obj/gb/*.s
/zip.in
*.nes.deb
/nes/map.txt
/gameboy/gb240p.gb
/gameboy/gb240p.map
/gameboy/gb240p.sym
/nes/240pee-bnrom.nes
/nes/240pee.nes
__pycache__/
*.pyc

# this is NES and Game Boy homebrew, not DSiWare
*.DS_Store
