*.sw[a-p]
*.o
*~
*.chr
*.chrgb
*.chrgb16
*.chr1
*.pb16
*.pb53
*.sb53
/nes/obj/nes/*.s
/nes/obj/nes/*.sav
/gameboy/obj/gb/*.s
/gameboy/obj/gb/*.nam
/gba/obj/gba/*.h
/gba/obj/gba/*.s
/zip.in
/nes/zip.in
/gameboy/zip.in
/gba/zip.in
*.nes.deb
/nes/map.txt
/nes/bnmap.txt
/gameboy/gb240p.gb
/gameboy/gb240p.map
/gameboy/gb240p.sym
/nes/240pee-bnrom.nes
/nes/240pee.nes
/gba/240pee_mb.elf
/gba/240pee_mb.gba
/gba/240pee_mb.sav
/gba/.map
__pycache__/
*.pyc

# this is NES and Game Boy homebrew, not DSiWare
*.DS_Store
