#
# Linker script for NSF
# Modified for NSF FDS by Persune 2024
# Copyright 2011 Damian Yerrick
#
# Copying and distribution of this file, with or without
# modification, are permitted in any medium without royalty
# provided the copyright notice and this notice are preserved.
# This file is offered as-is, without any warranty.
#
MEMORY {
  ZP:     start = $10, size = $f0, type = rw;
  # use first $10 zeropage locations as locals
  RAM:    start = $0300, size = $0500, type = rw;

  HEADER: start = $0000, size = $0080, type = ro, file = "%O_nsfhdr.bin", fill=yes, fillval=$00;
  ROM7:   start = $C000, size = $3FF0, type = rw, file = "%O.bin", fillval=$FF, define=yes;
  FOOTER: start = $0000, size = $4000, type = ro, file = "%O.bin", fillval=$00;
}

SEGMENTS {
  NSFHDR:   load = HEADER, type = ro, align = $80;
  NSFEFOOTER: load = FOOTER, type = ro, optional = yes;
  ZEROPAGE: load = ZP, type = zp;
  BSS:      load = RAM, type = bss, define = yes, align = $100;
  CODE:     load = ROM7, type = ro, align = 64;
  RODATA:   load = ROM7, type = ro, align = 64;
  DMC:      load = ROM7, type = ro, align = 64, optional = yes;
}

FILES {
  "%O.bin": format = bin;
  # align debug symbols by separating header and concatenating later
  "%O_nsfhdr.bin": format = bin;
}

